{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupnews</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupNews.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ groupNews.text }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ groupNews.title }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ groupNews.cover }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groupnews_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('groupnews_edit', { 'id': groupNews.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
