{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {% if nextRoute is defined %}
        <a href="{{ nextRoute }}">Salta questo passaggio</a>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}
